body{
    background-image: url(https://wallpaperaccess.com/full/1131836.png);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5000;
}
.index{
    
    
    margin-left: 100px;
    width: 100%;
    margin-top: 20px;
}
li{
    padding: 30px;
}