<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>REGISTER PAGE</title>
</head>
  <body>
      <div class="main">
          
    <div class="left" style="float: right;">
        <h4><b>Register Here</b></h4>
           <img src="https://cdn.pixabay.com/photo/2017/10/15/16/14/back-2854287_960_720.png" height="370px" >
        </div>
        <div class="right" >
           <form   method="POST">
              {% csrf_token %}
          
                <div class="form-group">
                  <label>User Name</label>
                  <input type="text" class="form-control " name="username" >
                </div>
               <div class="form-group">
                   <label>Email</label>
                   <input type="email" class="form-control " name="email" >
               </div>
              
              <div class="form-group">
                   <label>Password</label>
                  <input type="password" class="form-control " name="password1" minlength="8">
              </div> 
              <div class="form-group">
                  <label> Confirm Password</label>
                  <input type="password" class="form-control " name="password2" minlength="8">
              </div>
              <div>
                  <button type="submit" class="btn btn-secondary" style="width: 100%; margin-left:auto">Submit</button>
               </div>
           </form>
           <div style="text-align:center;">
              {% for message in messages %}
              <h4> {{message}}</h4>
              {% endfor %}
           </div>
        </div>
    </div>
 </body>
</html>