<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>REGISTER PAGE</title>
</head>
<body>
    <div>
        <h1><b>REGISTER FORM FORM</b></h1>
        <br><br>
        <form  style="text-align:center;"  method="POST">
            {% csrf_token %}
            USERNAME :<input type="text" name="username" placeholder="enter name"><br><br><br>
            EMAIL    :<input type="email" name="email" placeholder="email"><br><br><br>
            PASSWORD :<input type="password" name="password1" placeholder="password"><br><br><br>
            CONFIRM_PASSWORD:<input type="password" name="password2" placeholder="confirm_password"><br><br><br>
            <input type="submit" name="submit">
        </form>
    </div>
    <div style="text-align:center;">
        {% for message in messages %}
        <h4> {{message}}</h4>
        {% endfor %}
    </div>
</body>
</html>